# Ping wilhelmklopp on GraphQL module submissions
submissions/*/module-8.md @wilhelmklopp
submissions/*/module-08.md @wilhelmklopp
submissions/*/module-08/* @wilhelmklopp
submissions/*/module-8/* @wilhelmklopp

0-start-here/* @joenash
01-introductio/* @joenash
02-community-management/* @joenash
03-public-speaking/* @joenash
04-workshop-development/* @joenash
05-technical-writing/* @joenash
06-fundraising/* @joenash
07-opensource/* @joenash
08-graphql/* @joenash @wilhelmklopp
09-hubot/* @joenash
10-opensource-clubs/* @joenash
11-git-tips-and-tricks/* @joenash
12-electron/* @joenash
13-atom/* @joenash
14-github-pages/* @joenash
